<body style="background: rgb(255, 214, 32, 0.69); text-align:center">
  <img src="https://ih0.redbubble.net/image.314107482.8854/poster,840x830,f8f8f8-pad,750x1000,f8f8f8.u2.jpg">

  <h1 style="color: tomato;">Eat-Da-Burger!</h1>

  <ul>
    {{#each burgers}}
      {{#unless filet-o-fish}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>

  <ul>
    {{#each burgers}}
      {{#if filet-o-fish}}
        {{> burgers/burger-block notdevoured=false}}
      {{/if}}
    {{/each}}
  </ul>

  <form class="create-form">
    <div class="form-group">
      <button type="submit" name="notdevoured" value="0"> Devour it!
    </div>

    <br>

    <div class="form-group">
      <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Submit</button>
    <p>Enter a burger you want to eat. Click the "Submit" button.</p>
  </form>
</body>